<hr>
<br>
<div class="container p-3 my-3 border">
    <h2>Car Details</h2>
    <div class="table">
        <div>
            <label for=""> <b>Id: </b></label> {{car.id}}           
        </div>
        <div>
            <label for=""> <b>Brand: </b></label> {{car.brand}}           
        </div>
        <div>
            <label for=""> <b>Model: </b></label> {{car.model}}           
        </div>
        <div>
            <label for=""> <b>Year: </b></label> {{car.year}}           
        </div>
        <div>
            <label for=""> <b>Price: </b></label> {{car.price}}           
        </div>
        <div>
            <label for=""> <b></b></label> <img src="{{car.imageUrl}}" width="500px" height="400px">        
        </div><br>
        <button class= "btn btn-success">Available</button>

    </div>

</div>

